node_modules/
npm-debug.*
coverage/
*.DS_Store

junit.xml

ios/main.jsbundle
ios/main.jsbundle.meta
ios/DerivedData
ios/FbTest.xcworkspace/xcuserdata
ios/FbTest.xcodeproj/xcuserdata
ios/FbTest.xcodeproj/project.xcworkspace/xcuserdata
ios/Pods/

android/app/bin/
*.class

# Android/IntelliJ
#
build/
.idea
.idea/misc.xml
.idea/workspace.xml
.gradle
local.properties
*.iml
*.aab
*.apk
